{% extends 'base.html' %}

{% block content %}
  <h1>Home</h1>

  <div>
    <table class="table text-center border">
      <thead>
        <tr>
          <th scope="col" class="border">ID</th>
          <th scope="col" class="border">Musician name</th>
          <th scope="col" class="border">Email</th>
          <th scope="col" class="border">Album Rating</th>
          <th scope="col" class="border">Instrument</th>
          <th scope="col" class="border">Album name</th>
          <th scope="col" class="border">Release date</th>
          <th scope="col" class="border">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in combined_data %}
          <tr>
            <th scope="row">{{ item.counter }}</th>
            <td class="border">
              <a class="text-decoration-none" href="{% url 'edit_musician' item.musician.id %}">
                {{ item.musician.first_name }} {{ item.musician.last_name }}
              </a>
            </td>
            <td class="border">{{ item.musician.email }}</td>
            <td class="border">{{ item.album.rating }}</td>
            <td class="border">{{ item.musician.instrument }}</td>
            <td class="border">{{ item.album.album_name }}</td>
            <td class="border">{{ item.album.release_date }}</td>
            <td class="border">
              <button>
                <a class="text-decoration-none" href="{% url 'edit_album' item.album.id %}">Edit</a>
              </button>
              <button>
                <a href="{% url 'delete_album' item.album.id%}">Delete</a>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
